<!--<form action="/add/" method="post">-->
    <!--<label for="book_title">Book Name: </label>-->
    <!--<input id="book_title" type="text" name="book_title" value="{{ current_title }}">-->
    <!--<label for="book_auth">Author: </label>-->
    <!--<input id="book_auth" type="text" name="book_auth" value="{{ current_auth }}">-->
    <!--<label for="book_desc">Description: </label>-->
    <!--<input id="book_desc" type="text" name="book_desc" value="{{ current_desc }}">-->
    <!--<input type="submit" value="OK">-->
<!--</form>-->