/*
.main {
	font-name: verdana;
	font-size:400%;
	background: #fff;
	text-align: center;



			 }
.subtitle {
	font-name: verdana;
	font-size:200%;
	background: #fff;
	text-align: center;	
	    		}
.para{
	font-name: verdana;
	font-size:150%;
			}
.headz{ 
	font-name: verdana;
	font-size:300%;
			}
.guts{
	font-name: verdana;
	font-size:100%;
	color:#5E5E72;
			}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #222222;
  color: white;
  text-align: left;
		}

*/
